<!DOCTYPE html>
<div class="container">
  <div class="col-xs-12">
    <h3>
     ****  {{titulo}}  ****
    </h3>    
  </div>
  <hr/>
  <!--aqui se esta monitoreando la variable de tipo salida, que esta en formilario
  (personaCreada), esta variable cuando se dispara, va a llamar a el evento onPersonaAgregada
y va a pasar el evento, que en realidad es una persona, como parametro-->
  <app-formulario
  (personaCreada)="onPersonaAgregada($event)" ></app-formulario>
  <hr/>
  <app-persona *ngFor="let personaElemento of personas; let i =index"
                [persona]="personaElemento"
                [indice]="i" 
  ></app-persona>
</div>