<!DOCTYPE html>
<div class="box" id="heading">
  
    <h1>{{titulo}}</h1>    
</div>  
  <!--aqui se esta monitoreando la variable de tipo salida, que esta en formilario
  (personaCreada), esta variable cuando se dispara, va a llamar a el evento onPersonaAgregada
y va a pasar el evento, que en realidad es una persona, como parametro-->
  <div class="box"> 
    <app-persona *ngFor="let personaElemento of personas; let i =index"
                [persona]="personaElemento"
                [indice]="i" 
  ></app-persona>
</div>
<div class="box">  
  <app-formulario>

  </app-formulario>
</div>
  <!---el arreglo personas que se está recorriendo está en app.componente.ts
  [persona] si esta en la clase de persona.component.ts, de igual manera lo está el indice-->
