<!DOCTYPE html>
<!--- La clase form-row se hace para que todo lo que este dentro del formulario
se haga en una sola fila-->
<form class="form-row">
    <div class="form-group col-md-2">
      <label for="nombre" class="sr-only"> Nombre</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control"
      #nombreInput>
    </div>
    <!--- La rejilla que brinda bootsrap es de md-12, que representa el total horizontal-->
    <div class="form-group col-md-2">
      <label for="apellido" class="sr-only"> Apellido</label>
      <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control"
      #apellidoInput>
    </div>
    <div class="col">
      <button type="submit"
        class="btn btn-primary"
        (click) ="onAgregarPersona()"
      >
        Agregar
      </button>

    </div>
  </form>