<!DOCTYPE html>
<!--- La clase form-row se hace para que todo lo que este dentro del formulario
se haga en una sola fila-->
<form class="item">
      <label for="nombre" class="sr-only"> Nombre</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" 
      #nombreInput>  
    <!--- La rejilla que brinda bootsrap es de md-12, que representa el total horizontal-->
   
      <label for="apellido" class="sr-only"> Apellido</label>
      <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control"
      #apellidoInput>
   
    
      <button type="submit"
        class="btn btn-primary"
        (click) ="onAgregarPersona()"
      >
        +
      </button>

   
  </form>